{{template "_header.html"}}
<form action="/add" method="post">
  <!--
  <fieldset>
    <legend>New Poll</legend>
  </fieldset>
  -->
  <ul>
    <li>
      <label>Title</label>
      <input name="title" type="text">
    </li>
    <li>
      <label>Max height (for images)</label>
      <input name="dimension" type="text" value="300">
    </li>
  </ul>
  <div class="kd-buttonbar">
    <a class="kd-button" id="add-option">Add Option</a>
  </div>
</form>

<li id="option-template">
  <fieldset><legend>Option %n%</legend>
    <label>Image URL</label>
    <input name="img%n%" type="text">
    <label>Text (optional)</label>
    <input name="title%n%" type="text">
  </fieldset>
</li>
<script>
  $(function() {
    var optionTemplate = $('#option-template');
    if (optionTemplate.length) {
      var optionCount = 0;
      var addOption = function(e) {
        var option = optionTemplate.html().replace(/%n%/g, ++optionCount);
        $('form ul').append(option);
        e && window.scrollTo(0, 1e10);
      }
      addOption();
      addOption();
      addOption();
      $('#add-option').click(addOption);
    }
    $('#save').click(function() {
      $('form').submit();
    });
    $('form').submit(function(e) {
      var params = {};
      $(this)
      .find("input[checked], input[type='text'], input[type='hidden'], input[type='password'], input[type='submit'], option[selected], textarea")
      .filter(":enabled")
      .each(function() {
        params[this.name || this.id || this.parentNode.name || this.parentNode.id] = this.value;
      });

      $.post($(this).attr('action'), params)
      .success(function(url) {
        window.location = url;
      })
      .error(function(err) {
        alert(err.responseText);
      });
      e.preventDefault();
    });
  });
</script>
{{template "_footer.html"}}
